.keysContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-width: 300px;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  input,
  select,
  .btn {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  input,
  select {
    font-family: sans-serif;
    border: 2px solid rgba(52, 73, 85, 0.05);

    &:focus {
      border: 1px solid #f9aa33;
      outline: none;
    }
  }

  .btn {
    display: inline-block;
    background-color: #344955;
    color: #ffffff;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: background-color ease 250ms, transform ease 250ms;
    cursor: pointer;

    &:not(:disabled) {
      &:focus,
      &:hover {
        transform: scale(1.05);
      }
    }

    &:disabled {
      background-color: #ccc !important;
      color: #666 !important;
      cursor: not-allowed;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    label,
    input {
      display: block;
    }

    label {
      margin-bottom: 5px;
    }

    input {
      width: 100%;
    }

    [type='submit'] {
      min-width: 150px;
      margin: 15px auto 0;
    }

    [type='checkbox'], label[for=use-different-repo] {
      display: inline-block;
      vertical-align: middle;
    }

    [type='checkbox'] {
      width: auto;
      margin-right: 5px;
    }


    .error {
      color: red;
      font-size: 14px;
      font-weight: 200;
      text-align: center;
    }
  }
}


