.loaderSpinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  position: absolute;
  top: 0%;
  right: -10%;
  background: conic-gradient(#0000 10%, #f9aa33);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: loadSpin 0.8s infinite linear;
}

@keyframes loadSpin {
  to {
    transform: rotate(1turn);
  }
}
