.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  p {
    display: contents;
  }

  .countDown {
    position: relative;

    .btn {
      padding: 10px;
      border-radius: 4px;
      display: inline-block;
      position: absolute;
      bottom: 0%;
      background-color: #344955;
      color: #ffffff;
      text-decoration: none;
      border: none;
      margin-top: 20px;
      margin-left: 20px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      transition: background-color ease 250ms, transform ease 250ms;
      cursor: pointer;

      &:not(:disabled) {
        &:focus,
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .countDown {
    display: flex;
    flex-direction: column;

    .btn {
      position: relative !important;
    }
  }
}